<footer class=" pb-10">
	<div class="w-full flex grid place-content-center mt-10">
		<a class="no-underline text-white bg-cyan-600 px-5 py-1 w-72 rounded-2xl h-10 grid place-content-center hover:bg-cyan-700 ease-in duration-200" href="">Ver mas recetas</a>
	</div>
</footer>