<header class=" ">
    <nav class=" flex justify-between top-0 w-full py-3 p-5">

        <!-- Logo -->
        <ul class=" flex flex-grow basis-0 items-center justify-start  max-lg:justify-between">
            <li><a href=""><img class="w-52 " src="https://cdn.recetasgratis.net/img/web/recetasgratis/logo/negativo/es.png" alt=""></a></li>
        </ul>

        <!-- Search bar -->
        <div class=" flex items-center max-lg:hidden ">
            <button class="absolute ml-1"><svg class=" fill-gray-900" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path></svg></button>

            <input class="font-light w-96 h-10 rounded-xl pl-8 text-black" type="search" name="" placeholder="Buscar" id="" >

        </div>

        <!-- Links -->
        <ul class="flex flex-grow basis-0 justify-end items-center text-sm [&>li>a]:no-underline  max-lg:hidden">
            <li><a class="text-white pr-5 hover:underline " href="">Sube tu receta</a></li>
            <li><a class="text-white hover:underline" href="">Contacto</a></li>
        </ul>

        <ul class="  max-lg:block hidden items-center">

           <div class="dropdown ">
                <a class="btn " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg class=" fill-white h-5 w-5" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" style="transform: ;msFilter:;"><path d="M4 11h12v2H4zm0-5h16v2H4zm0 12h7.235v-2H4z"></path></svg>
                </a>
              
                <ul class="dropdown-menu dropdown-left  [&>li>a]:text-xs md:w-[700px]">
                    <div class="w-full flex justify-center ">
                        

            <input class="font-light w-32 md:h-7 md:w-full border-2 rounded-xl pl-8 text-black max-lg:text-xs " type="search" name="" placeholder="Buscar" id="" >
                    </div>
                    <div class="max-lg:text-xs mt-2">
                    <li><a class="dropdown-item" href="#">Sube tu Receta</a></li>
                    <li><a class="dropdown-item" href="#">Contacto</a></li>
                </div>
                    <hr>
                    <li><a class="dropdown-item" href="">Recetas Nuevas</a></li>
                    <li><a class="dropdown-item" href="">Recetas para Ocasiones</a></li>
                    <li><a class="dropdown-item" href="">Recetas Populares</a></li>
                    <li><a class="dropdown-item" href="">Recetas de Bebidas</a></li>
                    


                    
                    

                  

                </ul>
              </div> 

            




        </ul>
    </nav>



</header>

