<div class=" h-fit w-60 bg-white px-2 py-3 mt-10 text-black  rounded-lg max-lg:hidden">
	<ul class=" [&>li]:mb-3 [&>li>a]:no-underline [&>li>a]:text-black [&>li>a]:text-base">
		<li><a class=" hover:underline" href="">Recetas Nuevas</a></li>
		<li><a class=" hover:underline" href="">Recetas para Ocasiones </a></li>
		<li><a class=" hover:underline" href="">Recetas Populares</a></li>
		<li><a class=" hover:underline" href="">Recetas de Bebidas</a></li>
	</ul>
</div>