---
export interface Props {
    nombre: string
    imagen: string
}

const {
    nombre,
    imagen
} = Astro.props
---


<a class="no-underline flex flex-col items-center bg-white text-black px-1 py-4 rounded-lg shadow-lg hover:shadow-cyan-500/50 ease-in duration-200 hover:scale-105 group" href="">
    
        
    <img class="rounded-lg h-36 w-36 object-cover group-hover:opacity-80" src={imagen} alt="">
    <h1 class="text-center pt-2 text-base font-normal max-[1022px]:text-sm">{`${nombre}`}</h1>


</a>
    
